body {
  background-color: #f0ecf4;
}
.box-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid grey;
  padding: 5px;
}
.box-li {
  display: flex;
  gap: 10px;
}
.box-li img {
  height: 30px;
  width: 30px;
}
.card-title {
  font-size: 1.25rem;
  font-weight: bold;
}
.card-text {
  font-size: 1rem;
}
.card-img {
  height: 70px;
  width: 70px;
}
.card-info {
  display: flex;
  gap: 5px;
}
.card-post-img {
  height: 40px;
  width: 40px;
}
.card-p p {
  font-size: 12px;
}
.rounded-circle {
  border-radius: 50% !important;
  width: 50px;
  height: 50px;
  border: none;
}
